/* 
beige color: #e4b251 
dark beige color: #e2ab42
brown text color: #1d0e00
*/

/* ---------------------------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #555;
    font-family: lato, Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* ---------------------------------------------------------------- */
/* RESUABLE COMPONENTS */
/* ---------------------------------------------------------------- */

.nav-container {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
}

/* ------------ HEADINGS ----------- */

h1 {
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin-bottom: 20px;
}

/* ------------ BUTTONS ----------- */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 50px;
    color: #1d0e00;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e4b251;
    border: 1px solid #e4b251;
    font-weight: 400;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e4b251;
    color: #e4b251;
}

.btn:hover,
.btn:active {
    background-color: #e2ab42;
}

.btn-full:hover,
.btn-full:active {
    
    border: 1px solid #e2ab42;
    font-weight: 400;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #e2ab42;
    color: #1d0e00;
    font-weight: 400;
}

/* ---------------------------------------------------------------- */
/* HEADER */
/* ---------------------------------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero-img.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    margin-top: 20px;
}

.main-nav {
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 10px 0; 
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e4b251;
}
